.container {
  width: 100%;
  height: 100%;
  padding: var(--dockable-gap);
  color: var(--dockable-colors-text);
  background: var(--dockable-colors-gap);
  box-sizing: border-box;
}

.edgeDroppable {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  border-radius: 2px;
  width: 100%;
  height: 100%;
}

.edgeDroppableHandle {
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  position: absolute;
  top: -8px;
  left: -8px;
  transition: all 0.1s ease-in-out;
}
