.tab {
  display: flex;
  flex-shrink: 1;
  overflow: visible;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  border-radius: var(--dockable-radius) var(--dockable-radius) 0 0;
  box-sizing: border-box;
  cursor: pointer;
  min-width: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.tabNameContainer {
  display: flex;
  flex-shrink: 1;
  overflow: hidden;
}

.tabName {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 auto;
  padding: 8px 16px;
}

.tab.selected {
  background: var(--dockable-colors-headers);
  position: relative;
}

.tab:not(.selected):hover {
  backdrop-filter: brightness(1.1);
  border-radius: var(--dockable-radius);
  opacity: 1;
  z-index: 1;
}

.tab.selected::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.025),
    transparent 95%
  );
}

.tabCornerRight {
  position: absolute;
  bottom: 0;
  right: calc(var(--dockable-radius) * -2);
  width: calc(var(--dockable-radius) * 2);
  height: calc(var(--dockable-radius) * 2);
  background: var(--dockable-colors-headers);
}

.tabCornerLeft::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dockable-colors-background);
  border-radius: 0 0 var(--dockable-radius) 0;
}

.tabCornerLeft {
  position: absolute;
  bottom: 0;
  left: calc(var(--dockable-radius) * -2);
  width: calc(var(--dockable-radius) * 2);
  height: calc(var(--dockable-radius) * 2);
  background: var(--dockable-colors-headers);
}

.tabCornerRight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dockable-colors-background);
  border-radius: 0 0 0 var(--dockable-radius);
}

.tab:not(.selected) {
  opacity: 0.75;
}
