.container {
  display: flex;
  flex-direction: column;
  background: var(--dockable-colors-headers);
  border-radius: var(--dockable-radius);
  overflow: hidden;
  flex: 1;
  /* position: relative; */
  /* margin-left: 64px; */
  transition: margin 0.1s ease-in-out;
}

.container::after {
  box-shadow: 0 0px 0px 1px rgba(255, 255, 255, 0.025) inset,
    0 0px 2px 1px rgba(255, 255, 255, 0.05) inset;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  pointer-events: none;
  z-index: 1;
}

.tabBar {
  background: var(--dockable-colors-background);
  display: flex;
  position: relative;
}

.isOver.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 3px var(--dockable-colors-selected) inset;
  pointer-events: none;
}

.edgeZone {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  text-align: center;
  pointer-events: none;
  border-radius: inherit;
  transition: background 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  /* filter: blur(4px); */

  --dockable-edge-width: 50%;
  /* mix-blend-mode: screen; */
}

.edgeZone::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  background-color: transparent;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.1s;
  border-radius: inherit;
  /* border: 2px solid rgba(255, 255, 255, 0.5); */
  box-sizing: border-box;
}

.edgeZoneLeft {
  width: var(--dockable-edge-width);
  left: 0;
}

.edgeZoneRight {
  width: var(--dockable-edge-width);
  right: 0;
}

.edgeZoneBottom {
  height: var(--dockable-edge-width);
  bottom: 0;
}

.edgeZoneTop {
  height: var(--dockable-edge-width);
  top: 0;
}

.edgeZoneCenter {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.edgeZoneLeft::after {
  transform-origin: left;
  transform: scaleX(0) scaleY(1);
  /* background: linear-gradient(to right, var(--dockable-colors-selected), transparent 100%); */
}

.edgeZoneRight::after {
  transform-origin: right;
  transform: scaleX(0) scaleY(1);
  /* background: linear-gradient(to left, var(--dockable-colors-selected), transparent 100%); */
}

.edgeZoneBottom::after {
  transform-origin: bottom;
  transform: scaleX(1) scaleY(0);
  /* background: linear-gradient(to top, var(--dockable-colors-selected), transparent 100%); */
}

.edgeZoneTop::after {
  transform-origin: top;
  transform: scaleX(1) scaleY(0);
  /* background: linear-gradient(to bottom, var(--dockable-colors-selected), transparent 100%); */
}

.edgeZoneHover::after {
  width: 100%;
  height: 100%;
  transform: scaleX(1) scaleY(1);
  background-color: var(--dockable-colors-selected);
}
