.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.tab.selected {
  border-bottom: 2px solid blue;
}

.tab.dragging {
  opacity: 0.5;
}

.tabPreview {
  background-color: white;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropIndicator {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: blue;
  z-index: 1;
}

.dropIndicator.left {
  left: -1px;
}

.dropIndicator.right {
  right: -1px;
} 