.rdg-row {
  display: contents;
  background-color: var(--rdg-background-color);
}

.rdg-row:hover {
  background-color: var(--rdg-row-hover-background-color);
}

.rdg-row[aria-selected="true"] {
  background-color: var(--rdg-row-selected-background-color);
}

.rdg-row[aria-selected="true"]:hover {
  background-color: var(--rdg-row-selected-hover-background-color);
}

.rdg-row-selected {
  outline: 2px solid var(--rdg-selection-color);
  outline-offset: -2px;
}

.rdg-row-selected-with-frozen-cell::before {
  content: "";
  display: inline-block;
  block-size: 100%;
  position: sticky;
  inset-inline-start: 0;
  border-inline-start: 2px solid var(--rdg-selection-color);
}

.rdg-header-row {
  display: contents;
  background-color: var(--rdg-header-background-color);
  font-weight: bold;
}

.rdg-header-row > .rdg-cell {
  position: sticky;
  z-index: 2;
  inset-block-start: var(--rdg-header-row-top);
  inset-block-end: var(--rdg-header-row-bottom);
}

.rdg-header-row > .rdg-cell-frozen {
  z-index: 3;
}

.rdg-summary-row > .rdg-cell {
  position: sticky;
}

.rdg-top-summary-row > .rdg-cell {
  z-index: 2;
}

.rdg-top-summary-row {
  --rdg-summary-row-top: 0px;
  --rdg-summary-row-bottom: auto;
  position: sticky;
  inset-block-start: var(--rdg-header-row-height);
}

.rdg-bottom-summary-row {
  --rdg-summary-row-top: auto;
  --rdg-summary-row-bottom: 0px;
  position: sticky;
  inset-block-end: 0;
}

.rdg-group-row:not([aria-selected="true"]) {
  background-color: var(--rdg-header-background-color);
}

.rdg-group-row > .rdg-cell:first-child {
  display: flex;
  align-items: center;
}

.rdg-group-cell-content {
  outline: none;
}

.rdg-group-cell-caret {
  margin-inline-start: 4px;
  stroke: currentColor;
  stroke-width: 1.5px;
  fill: transparent;
  vertical-align: middle;
}
