@layer base {
  html {
    color-scheme: dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: "Source Code Pro";
    background-color: var(--color-surface-0);
  }
}
