.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.panel {
  background-color: var(--color-surface-0);
  position: relative;
}

.leftPanelContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-surface-0);
}

.rightPanelContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-surface-0);
}

.centerPanelContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.centerPanel {
  flex: 1;
  background-color: var(--color-surface-1);
  position: relative;
}

.leftTopPanel {
  flex: 1;
  background-color: var(--color-surface-1);
  position: relative;
}

.leftBottomPanel {
  background-color: var(--color-surface-2);
  position: relative;
}

.rightTopPanel {
  flex: 1;
  background-color: var(--color-surface-1);
  position: relative;
}

.rightBottomPanel {
  background-color: var(--color-surface-2);
  position: relative;
}

.centerBottomPanel {
  background-color: var(--color-surface-2);
  position: relative;
}

.panelText {
  color: white;
  padding: 10px;
}

.resizeHandleContainer {
  position: absolute;
  z-index: 10;
}

.resizeHandleVertical {
  top: 0;
  bottom: 0;
  width: 0px;
}

.resizeHandleHorizontal {
  left: 0;
  right: 0;
  height: 0px;
  bottom: 0;
}

.resizeHandleLeft {
  right: 0;
}

.resizeHandleRight {
  left: 0;
}
