/* ResizeHandle.module.css */
.interactionArea {
  /*
    --handle-size controls both the visible thickness of the handle on hover
    and the invisible grab area around it.
  */
  --handle-size: 20px;
  position: absolute;
}

.interactionAreaVertical {
  top: 0;
  bottom: 0;
  /* The grab area extends on both sides by the handle size */
  left: calc(var(--handle-size) * -0.5);
  right: calc(var(--handle-size) * -0.5);
}

.interactionAreaHorizontal {
  left: 0;
  right: 0;
  /* The grab area extends on both sides by the handle size */
  top: calc(var(--handle-size) * -0.5);
  bottom: calc(var(--handle-size) * -0.5);
}

.handle {
  position: absolute;
  z-index: 10;
  transition: all 0.2s ease;
  background-color: transparent;
}

.handleVertical {
  cursor: col-resize;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 0;
  transform: translateX(-50%);
}

.handleHorizontal {
  cursor: row-resize;
  left: 0;
  right: 0;
  top: 50%;
  height: 0;
  transform: translateY(-50%);
}

.handleHover {
  background-color: var(--color-primary);
  opacity: 0.2;
}

.handleVertical.handleHover {
  width: var(--handle-size);
}

.handleHorizontal.handleHover {
  height: var(--handle-size);
}
